<!--list of products-->
<div class="listProducts animated fadeInUp ">
    <div class="product">
        <div class="itemProductdiv1">
            <a routerLink="/app/product">
                <img src="./assets/images/zip_package1.png" alt="">
            </a>
        </div>
        <div class="itemProductdiv2">
            <div class="addCompra">
                <div class="addCompradiv1 nameProduct">
                    <p>{{cartItem.producto}}</p>
                </div>
                <div class="addCompradiv2 addInfo">
                    <p>200gm</p>
                    <p>${{cartItem.precio}}</p>
                </div>
                <div class="addCompradiv3 buttonsAdd">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus"></i>
                    <i class="fa fa-trash" (click)="emptyCart()"></i>
                </div>
                <div class="addCompradiv4 subtotal">
                    <p>Cant: {{cartItem.cantidad }}</p>
                    <p>${{cartItem.cantidad * cartItem.precio| number: '1.1-2'}}</p>
                </div>
            </div>
        </div>
    </div>






</div>
<!--list of products-->